---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vaaiit.fi">
		<div class="container mx-auto px-4 max-w-screen-lg">
		  <header class="text-center my-6">
			<h1 class="text-4xl font-bold">vaaiit.fi</h1>
			<p class="text-xl mt-2">Tämä ei ole vaalit.fi, mutta joku muu olisi voinut väittää sinulle niin käyttäen URL-spoofingia.</p>
		  </header>

		  <main class="">
			<section class="mb-6">
			  <h2 class="text-2xl font-semibold text-stone-50">Mitä on URL-spoofing?</h2>
				<ul class="list-disc">
					<li class="mt-2 ml-6">
						URL-spoofing on tekniikka, jota haitalliset toimijat käyttävät luodakseen verkkosivustolle linkin, joka näyttää samanlaiselta kuin oikea verkkosivusto.
					</li>
					<li class="mt-2 ml-6">
					  vaalit.fi olisi loistava kohde tällaiselle toiminnalle, sillä iso i ja pieni L näyttävä hyvin samanlaisilta useilla fonteilla,
					  ja vaaIit.fi ja vaalit.fi olisivat hyvin vaikeat erottaa tosisistaan.
					</li>
					<li class="mt-2 ml-6">
					  Tällaisella haitallisella sivustolla voitaisiin esimerkiksi levittää misinformaatiota äänestämisestä tai yrittää varastaa rahaa tai identiteettejä.
					</li>
					<li class="mt-2 ml-6">
					  Ostin tämän domainin, jotta kukaan muu ei saisi tehtyä tällä mitään pahaa.
					</li>
				</ul>
			</section>
			<div>
				<p class="text-2xl text-center py-3">Varo mitä klikkaat!</p>
			</div>

		  </main>
		</div>
</Layout>
